
:root, page {
  // 项目自定义颜色变量
	--primary-color: #34ab22;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.object-cover {
  object-fit: cover;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-4 {
  z-index: 4;
}

.z-6 {
  z-index: 6;
}

